.sidebar {
  height: 100%;
  background-color: #e6e6ec76;
  flex: 0.2;
  padding: 20px;
  border-right: 1px solid #bfbdbd;
}

.sidebar_header {
  margin: 30px 0 20px 0;
  font-size: 1.5625em;
  color: rgb(33, 18, 104);
}

.users {
  margin-bottom: 10px;
  color: #607eaa;
  font-size: 0.875em;
  list-style: none;
}

.users > li {
  margin-bottom: 20px;
  cursor: pointer;
  color: rgb(65, 95, 36);
}
